.variation1{
  padding: 20px;
  border: 1px solid #accdee;
  background: transparent;
}
.variation2{
  padding: 20px 40px;
  border: none;
  background: #7ed020;
  color: white;
  font-size: 16px;
}
.variation3{
  padding: 20px 40px;
  border: none;
  border-radius: 8%;
  color: white;
  background: #ef3e31;
}
.variation4{
  padding: 20px 40px;
  border: 1px solid #8ef319;
  background: transparent;
  font-size: 16px;
}
.variation4:hover{
  background: #77e412;
  color:white;
}
.variation5{
  padding: 20px 40px;
  border: none;
  background: #6de632;
  color: white;
  font-size: 16px;
  opacity: 0.6;
  cursor: not-allowed;
}
.variation6{
  padding: 20px 40px;
  border: none;
  background: #57f11a;
  color: white;
  font-size: 16px;
  transition-duration: 0.4s;
}

.variation6:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.variation7{
  padding: 15px 30px;
  border: 1px solid #123456;
  background: #6bf354;
  font-size: 16px;
  color: white;
  transition-duration: 0.4s;
  float: left;

}

.variation7:hover{
  background: #123456;
}

.variation8{
  display: block;
  border: 1px solid black;
  padding: 15px 30px;
  color: white;
  font-size: 16px;
  background: #2f4be6;
  transition-duration: 0.4s;
}

.variation8:hover{
  background: transparent;
  color:black;
}

.clear{
  clear:both;
}
.imgContainer{
  width: 100%;
  height: auto;
  max-width: 400px;
  position: relative;
}
.img{
  width: 100%;
}
.variation9{
  position: absolute;
  top: 40%;
  left: 33%;
  padding: 15px 30px;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  cursor: pointer;
  background: radial-gradient(black, transparent);
  transition-duration: 0.4s;
}
.variation9:hover{
  background: white;
  color:black;
}