*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
form{
  padding: 10px 30px;
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 10%;
  width:60%;
  border: 1px solid #bec7d1;
}
.button{
  flex: 1;
  text-align: center; 
}
h1{
  text-align: center;
  font-size:1.5em;
}
button{
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: white;
  font-size: 18px;
  background: #4798ea;
  border-radius: 5px;
  transition-duration: 0.4s;
  width:80%;
}
button:hover{
  background:#5aeb61;
  color: black;
}
.inputFieldLabel{
  display: block;
}
form div{
  width:50%;
  margin: 10px 0px;
  position: relative;
}
.inputField{
  padding: 10px 20px;
  border: 1px solid #123456;
  border-radius: 5px;
  width:100%;
}
.container{
  display: flex;
    align-items: center;
    justify-content: center;
}
body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.errorIcon{
  /* fa-exclamation */
  position: absolute;
  right: 5%;
  top: 38%;
  border: 1px solid;
  padding: 1px 7px;
  border-radius: 53%;
  color: white;
  background: red;
  visibility:hidden;
}
.errorBorder{
  border:2px solid red;
}
.errorMessage{
  color:red;
  visibility: hidden;
}
.successIcon{
  /* fa-check */
  position: absolute;
  right: 5%;
  top: 38%;
  border: 1px solid;
  padding: 1px 1px;
  border-radius: 53%;
  color: white;
  background: green;
  visibility:hidden;
}
.active{
  visibility: visible
}
.successBorder{
  border:2px solid green;
}
@media only screen and (max-width:720px){
*{
  font-size:18px;
 }
 form div{
  width:100%;
}
}
@media only screen and (min-width:621px){
  
}
