.variation1Badge{
  border:1px solid #5da4eb;
  padding: 3px 9px;
  border-radius: 50%;
  background: #5da4eb;
}

.variation2Badge{
  border: 1px solid #1820e3;
  padding: 1px 5px;
  border-radius: 50%;
  margin-left: 5px;
  background: #1820e3;
}
button{
  border: none;
  padding: 10px 30px;
  color: white;
  font-size: 16px;
  background: #123456;
  transition-duration: 0.4s;
}
button:hover{
  box-shadow: 0 12px 19px 0 rgba(0,0,0,0.24), 0 17px 50px rgba(0,0,0,0.19);

}
